[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
fabric3 = "*"
ipython = "*"
django_debug_toolbar = "*"

[packages]
django = "*"
wagtail = "<2.10"
django-kdl-ldap = "*"
django-compressor = "*"
django-haystack = "*"
django-activecollab-digger = "*"
psycopg2-binary = "*"
regex = "*"
elasticsearch = "<6"
django-redis = "*"
django-libsass = "*"
drf-haystack = "*"
pysolr = "*"
tqdm = "*"
lxml = "*"

[requires]
python_version = "3.5"
