# Django 2 supports only python 3, our VM is sill in python 2
# See AC-303
django<2
django-compressor
django-grappelli
django-libsass
django-model-utils
django-redis
django-require

libsass==0.10.0
pillow
psycopg2-binary
requests[security]

# Because wagtail is caped to 1.x.
# Once we have upgrade project to python 3, django 2 and wagtail 2, 
# then we can get rid of these lines
django-modelcluster<4.0,>=3.1
django-taggit<0.23,>=0.20
# conflicting version requirements, see below
# this project doesn't use Wagtail API, so we can have >= 3.7
# djangorestframework<3.7,>=3.1.3

# Keep wagtail at 1.x because we also cap Djano to 1.x (see above)
wagtail<2


html5lib==0.9999999

regex

# SEARCH

drf-haystack

# for drf-haystack but too high for wagtail 1.x
djangorestframework<4

# needed for haystack to work with ES, caped version b/c we have ES 2
# ES ON VM WILL HAVE TO BE UPGRADED TO VERSION 2
elasticsearch>=2.0.0,<3.0.0
