pyopenssl<18
django<2
django-compressor
django-grappelli
django-libsass
django-model-utils
django-redis
django-require
elasticsearch
libsass==0.10.0
pillow
psycopg2-binary
requests[security]
wagtail<2
html5lib==0.9999999
regex

django-activecollab-digger
