{% load staticfiles compress require cms_tags wagtailcore_tags %}

{% verbatim %}
<div id="settings">
    <div class="settings-head">
        <h3>Settings</h3>
    </div>
    <div class="settings-body">
        <div v-for="v in vars" class="settings-field">
            <template v-if="!v.hidden">
                <h4>{{ v.name }}</h4>
                <ul>
                    <li v-for="option in v.options">
                        <label>
                            <template v-if="v.type == 'multi'">
                                <input type="checkbox" v-model="option.selected" v-bind:name="option.key" />
                            </template>
                            <template v-if="v.type == 'single'">
                                <input type="radio" v-model="v.selected" v-bind:value="option.key" v-bind:name="v.key" />
                            </template>
                            {{ option.name }}
                        </label>
                    </li>
                </ul>
            </template>
        </div>
    </div>
</div>
{% endverbatim %}
