{% load wagtailcore_tags cms_tags %}

{% with section.get_children.live.in_menu.specific as children %}
    {% if children %}
        {% if request.path == section.get_url %}
          {% if title %}
              <h2>{{ title }}</h2>
          {% endif %}
        {% else %}
            <h2><a href="{% pageurl section %}">{% page_title section %}</a></h2>
        {% endif %}
    
        <ul class="menu vertical side-menu">
            {% for page in children %}
                <li {% if page|in_path:request %}class="active"{% endif %}>
                    <a href="{% pageurl page %}">{% page_title page %}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
