@import 'tvof-foundation-settings';
@import 'foundation-sites/scss/foundation';
@import 'text-viewer';
@import 'motion-ui/motion-ui';
@import 'typography';

@include foundation-everything;

/****

Global styles
    Colours and text styles
    External links
    Responsive iframe
    Show more / Show less
Header
Navigation
Main content area
    Blog
    Images
    Notes
    Quick tips or Disclaimer
    Text viewer - TEI
    Reveal/Modal & Tooltip
Footer
    Cookie consent
Media queries
    Navigation
Search

****/

/* Global styles */

.badge {
    vertical-align: text-top;
}

.conference.disabled {
    background: scale-color($dark-orange, $lightness: -10%);
}

// Colours

.red {
    color: scale-color($secondary-color, $lightness: 25%);
}

// External links

a.ext-links {
    &:before {
        content: "\f14c";
        font-family: "FontAwesome";
        font-size: .875em;
        padding-right: 4px;
    }
}

// Responsive iframe

.iframe-container {

    position: relative;
    padding-bottom: 33.33%;
    padding-top: 35px;
    margin: 1rem 0;
    height: 0;
    overflow: hidden;
    border: 3px solid scale-color($secondary-color, $lightness: 50%);

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

// Show more / Show less

.darker {
    background: scale-color($primary-color, $lightness: 30%) !important;
}

/* Header */

.header {
    color: white;

    a {
        color: $white;
    }

    h1 {
        font-weight: 700;
        margin-top: 2rem;
        text-shadow: 0 0 5px #000;
    }
}

.mini-header {
    h1 {
        a {
            display: inline-block;
        }
    }
}

/* Navigation */

nav {
    background-color: #1c2434;

    a {
        color: $white;

        // Display the dropdown menu caret
        &:after {
            border-color: $white transparent transparent transparent !important;
        }

        &:before {
            border-color: transparent $white transparent transparent !important;
        }

        &:active,
        &:focus,
        &:visited {
            color: $white !important;
        }

        &:hover {
            color: scale-color($primary-color, $lightness: 80%) !important;
            background: scale-color($primary-color, $lightness: 20%);
        }
    }

    .active {
        background: scale-color($primary-color, $lightness: -20%);
    }

    .title-bar {
        background: #1c2434;
    }

    .menu,
    .menu > * {
        // z-index: 9;
        // GN: active menu item wasn't highlighted (AC-234, 17 May 2018)
        .active > a {
            background: scale-color($primary-color, $lightness: 20%);
        }
    }

    [data-toggle] {
        cursor: pointer;
    }
}

.menu {
    &.submenu {
        &.is-dropdown-submenu {
            background: $primary-color;
            z-index: 2;
        }
    }

    &.dropdown {
        .is-dropdown-submenu-parent {
            &:hover {
                background: scale-color($primary-color, $lightness: 20%);
                color: $white !important;
            }
        }
    }
}

.controls {
    .dropdown {
        &.menu {
            > li {
                > a {
                    padding: .5rem 1.5rem .5rem .5rem;
                }
            }
        }
    }
}

ul.sticky {
    background: $primary-color;
    margin-top: 0 !important;
    right: 0;
}

@mixin inline-icon {
    color: $tertiary-color;
    font-family: "FontAwesome";
    line-height: 0;
    // GN: no longer a pointer as we show info in a tooltip
    // cursor: pointer;
}

@mixin tooltip {
    padding: 0.5em 0em;

    &:hover {
        // GN: TODO: change color
        // background color to indicate which characters are unclear
        background-color: scale-color($primary-color, $lightness: 80%);
    }
}

@mixin tooltip-and-icon($content) {
    @include tooltip;

    &:after {
        @include inline-icon;
        font-size: 0.80em;
        vertical-align: super;
        content: $content;
    }
}

@mixin tooltip-and-icon-full($content) {
    @include tooltip;

    &:after {
        @include inline-icon;
        content: $content;
    }
}

/* Main content area */

.main {
    background: scale-color($almost-black, $lightness: 94%);

    h1 {
        border-bottom: 1px solid scale-color($primary-color, $lightness: 50%);
        font-size: 2rem;
        line-height: 1.25;
        margin: 1rem 0;
    }

    h2 {
        font-size: 1.75rem;
        line-height: 1.125;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.25rem;
    }

    // Blog

    .bydate {
        color: scale-color($almost-black, $lightness: 25%);
        font-style: italic;
        line-height: 1;
        margin: 0;
    }

    .item {
        border-bottom: 1px solid scale-color($almost-black, $lightness: 65%);
        margin-bottom: 1rem;
    }

    // Images

    .richtext-image {
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-align: center;

        &.float-right {
            padding-left: 1rem;
            width: 50%;
        }
        &.float-left {
            padding-right: 1rem;
            width: 50%;
        }
        &.float-center {
            padding-left: 1rem;
            padding-right: 1rem;
            width: 50%;
        }
    }

    .richtext-caption {
        font-style: italic;
        font-size: .75rem;
        line-height: 1.125;
    }

    .thumbnail {
        width: 100%;

        img {
            width: 100%;
        }
    }

    // Splash image - homepage
    .splash-image {
        margin: 1rem 0;

        img {
            width: 100%;
        }
    }

    .side-menu {
        background: #42547a;
        // GN: without this the side bar can touch the footer
        margin-bottom: 1rem;
        li {
            border-bottom: 1px solid #5871a4;
            a {
                color: white !important;
            }
        }
    }

    .menu {
        a {
            &:hover {
                color: $white;
            }
        }
    }

    .menu > li > a {
        &:hover {
            background: #5871a4;
        }
    }

    .is-submenu-item {
        border-bottom: 1px solid $dark-gray;

        a {
            color: $light-gray;
        }
    }

    // Notes

    .notes {
        padding: .5rem 1rem;
        border-top: 1px solid $secondary-color;
        font-size: .9375rem;
        p {
            line-height: 1.25rem;
        }
    }

    // Quick tips or Disclaimer

    .quick-tips {
        font-size: .875em;
        padding: .5rem 1rem;
        background: scale-color($secondary-color, $lightness: 70%);
        margin-bottom: .5rem;
        h3 {
            font-size: 1.125rem;
        }
    }

    // Bibliography - TEI

    .tei-bibl:target {
        background-color: #ece4b7;
    }

    .tei-l {
        background-color: #ebe6ff;
    }
    .text-conventions {
        .tei-l {
            background-color: #d6ccff;
        }
    }


    // Text viewer - TEI

    #manuscripts-content,
    #manuscripts-title,
    .text-pane {
        h1, h2 {
            padding-top: rem-calc(24);
            padding-left: rem-calc(16);

            small,
            small {
                color: $dark-gray;
            }
        }
    }

    .tei.body {
        margin-bottom: rem-calc(24);
        padding-left: rem-calc(16);
        padding-right: rem-calc(36);

        h4 {
            margin-top: rem-calc(24);
        }
    }

    .tei-cb,
    .tei-pb {
        color: teal;
    }
    .tei-cb.split-word,
    .tei-pb.split-word {
        &:before, &:after {
            content: '-';
        }
    }

    .tei-corr-popup {
        background-color: scale-color(yellow, $lightness: 50%);
        &:after {
            content: "\f24a";
            font-family: "FontAwesome";
        }
    }

    .tei-corr-text {
        color: $dark-orange;
    }

    .tei-critToLower {
        text-transform: lowercase;
    }

    .tei-critToSup {
        font-size: rem-calc(12);
        vertical-align: super;
    }

    .tei-critToUpper {
        text-transform: uppercase;
    }

    .tei-del {
        text-decoration: line-through !important;
    }

    .tei-fw {
        color: green;
    }

    .tei-c.red, .tei-rubric, .tei-hi.red, .tei-hi.red-highlight {
        color: scale-color($secondary-color, $lightness: 25%);
    }
    .first-letter-red::first-letter {
        color: scale-color($secondary-color, $lightness: 25%);
    }

    .tei-seg-num {
        font-size: rem-calc(13);
        font-weight: 700;
    }


    // GN: two types of verses:
    // ((.cont (flows continuously within a p/div)))
    // .lineated (line break after each verse line)
    // TODO: works but html & css need improvement

    div.tei.lg, p.tei.lg {
        display: inline;
    }

    p.tei.lg.lineated,
    // ac-358.1 : cont is now dislayed line by line
    p.tei.lg.cont,
    {
        // https://stackoverflow.com/a/14832019/3748764
        display: table;
        position: relative;
    }

    .lineated > span,
    // ac-358.1 : cont is now displayed line by line
    .cont > span
    {
        display: block;
        padding-right: 3rem;
    }

    // ac-358.1 : cont is now dislayed line by line
    /*
    .cont span {
        display: inline;
    }
    */

    //-----
    .tv-view-semi-diplomatic .tei-unclear {
        // GN: icon even if superscripted,
        // without this hover on top of icon doesn't do anything
        @include tooltip-and-icon("\f128");
        padding: 0.5em 0em;
    }

    .tv-view-semi-diplomatic .tei-mod,
    .tv-view-semi-diplomatic .tei-add,
    .tei-corr,
    .tv-view-semi-diplomatic .tei-pc-rend-6
    {
        @include tooltip;
    }

    .tv-view-semi-diplomatic .tei-supplied,
    .tv-view-semi-diplomatic .tei-mod .tei-del
    {
        display: none;
    }

    .tv-view-semi-diplomatic .tei-pc-rend-6 {
        padding: 0.5em 0.2em;
    }

    .tv-view-semi-diplomatic .tei-add,
    .tv-view-interpretive .tei-corr,
    .tv-view-interpretive .tei-supplied, {
        &:before {
            content: '<';
        }
        &:after {
            content: '>';
        }
    }

    /* NOTES */

    // see proof-reading page
    .note-location {
        margin-right: 0.2rem;
        &:before {
            content: '(';
        }
        &:after {
            content: ') ';
        }
    }

    .note-ref,
    .note-anchor {
        &:before {
            content: '[';
        }
        &:after {
            content: '] ';
        }

        &:focus {
            background-color: #ffff80;
        }

        /*
        &.tei-subtype-gen {
            background-color: scale-color($success-color, $lightness: 30%);
        }

        &.tei-subtype-note {
            background-color: scale-color($secondary-color, $lightness: 30%);
        }

        &.tei-subtype-source {
            background-color: scale-color($primary-color, $lightness: 40%);
        }

        &.tei-subtype-trad {
            background-color: scale-color($tertiary-color, $lightness: 50%);
        }
        */

    }
    .note-ref {
        font-size: 0.80em;
        vertical-align: super;

    }

    .tv-viewer-proofreader {
        .tei-note {
            margin-bottom: 0.5rem;
            display: block;

            // ac-332.3
            &.tei-type-gloss {
                // display: none;
            }
        }

        .corr-sic {
            margin-left: 0.3rem;
            &:before {
                content: '{ms. ';
            }
            &:after {
                content: '}';
            }
        }
    }

    .tv-viewer-pane, .text-conventions {
        .tei-note.tei-type-note {
            @include tooltip-and-icon('\f075');

            &.tei-subtype-gen {
                &:after {
                    color: scale-color($success-color, $lightness: 30%);
                }
            }

            &.tei-subtype-note {
                &:after {
                    color: scale-color($secondary-color, $lightness: 30%);
                }
            }

            &.tei-subtype-source {
                &:after {
                    color: scale-color($primary-color, $lightness: 40%);
                }
            }

            &.tei-subtype-trad {
                &:after {
                    color: scale-color($tertiary-color, $lightness: 50%);
                }
            }
        }

        .tei-note.tei-type-gloss {
            @include tooltip-and-icon('\f14b');
        }

        &.tv-view-interpretive .tei-note.tei-type-gloss {
            display: none;
        }

        .tei-note.tei-type-note,
        .tei-note.tei-type-gloss {
            // GN: icon even if superscripted,
            // without this hover on top of icon doesn't do anything
            padding: 0.5em 0.2em;
            display: inline;
            cursor: pointer;

            .note-text {
                display: none;
            }
        }

        .notation {
            > *:hover {
                background: inherit;
            }
        }
    }

    figure {
        // GN: icon even if superscripted,
        // without this hover on top of icon doesn't do anything
        @include tooltip-and-icon-full('\f030');
        display: inline-block;
        line-height: 0;
        padding: 0.8em 0.3em;
        cursor: pointer;

        img, figcaption {
            display: none;
        }
    }

    .tei-type-explicit {
        display: block;
    }

    // GN, ugly inherit, we should use span instead of sup in lineated verses
    .lineated .verse-number,
    // ac-358.1 : cont is now dislayed line by line
    .cont .verse-number {
        position: absolute;
        right: 0;
        font-size: inherit;
        line-height: 1rem;
        top: inherit;
    }

    .verse-number {
        padding: 0.3em;
    }

    // See TVOF-146
    .paragraph {
        margin-bottom: 1rem;
    }

    .sublocated {
        border-bottom: 3px solid #ee0;
    }

}


/* Reveal/Modal & Tooltip */

// TODO: make the tooltip and reveal look more consistent
// TODO: use variables for colors
.tv-tooltip, .tv-reveal {
    padding: 0;

    h3 {
        white-space: nowrap;
        font-size: 1.1rem;
        padding: 0.2rem 0.5rem;
        margin: 0;
        background-color: scale-color($primary-color, $lightness: 20%);
    }

    .body {
        padding: 0.5rem;

        a {
            color: scale-color($primary-color, $lightness: 70%);
            font-weight: bolder;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.tv-reveal {
    background-color: #1c2434;
    border-color: scale-color($primary-color, $lightness: 20%);
    color: #e0e0e0;
    box-shadow: 7px 7px 10px #666;

    &:focus {
        border-color: scale-color($primary-color, $lightness: 20%);
    }

    .close-button {
        color: #e0e0e0;
        top: 0;
        right: 0;
        padding: 0rem 0.3rem;

        &:hover {
            background-color: scale-color($primary-color, $lightness: 50%);
        }
    }
}

.tv-tooltip {
    // GN: foundation max-width is too narrow for long titles
    // e.g.Fr 68 (note de lecteur medieval)
    max-width: 20rem;
}

// Image modal

.close-button {
    right: 0.5rem;
    color: $primary-color;
}

#image-viewer-modal {
    overflow: hidden;
    padding: 0;
    display: none;
    flex-direction: column;

    @include breakpoint(medium) {
        // Foundation set full screen in mobile, otherwise we need
        // to force width for image-viewer
        width: 90vw;
        height: 90vh;
    }

    #image-viewer {
        // leaflet container
        flex: 1;
        width: 100%;
        background-color: black;
    }

    .image-viewer-caption {
        // caption at the bottom

        max-height: 4em;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 0 0.5em;

        // GN: Artificially add shaded areas on top and bottom of text div
        // reason is that scrolling requires overflow-y which in turn
        // cancels the padding-top and padding-bottom on scrolling text
        // Without this the text is abruptly cut off on the edge of the
        // div which is inelegant.
        // TODO: try input type="text" in read-only mode
        &:before, &:after {
            background-color: rgba(0,0,0,0.3);
            content: '';
            display: block;
            height: 0.3em;
            position: sticky;
            top: 0;
        }
        &:after {
            bottom: 0;
        }
    }
}


/* Footer */

footer {
    color: white;
    a {
        color: white;
    }
    background: $body-background;
    padding: 1rem 0;

    .logo {
        img {
            max-height: rem-calc(200);
        }
    }
}

// Cookie consent



// Cookies

.cookies-box {
    background: $primary-color;
    bottom: 0;
    color: $white;
    margin: 0;
    opacity: 0.95;
    position: fixed;
    text-align: center;
    width: 100%;

    button,
    .button {
        font-weight: 700;
    }

    p {
        margin-bottom: rem-calc(16);
    }
}

/* Media queries */

@media print {
    .social-links {
        display: none;
    }
}

@media screen and (max-width: 575px) {
    nav {
        background-color: #1c2434;

        a {
            color: $white;
            &:hover {
                color: scale-color($primary-color, $lightness: 80%);
                background: scale-color($primary-color, $lightness: 20%);
            }

            &:after {
                border-color: transparent transparent transparent $white !important;
            }

            &:before {
                border-color: transparent $white transparent transparent !important;
            }
        }
    }
}

@media screen and (max-width: 768px) {

    .menu {
        &.mini-header {
            li {
                a {
                    margin-top: rem-calc(12);
                    padding: rem-calc(5 5 10 0);
                }
            }
        }
    }

    #text-viewer {

        // GF - Added this arbitrary height
        // At the moment is calculated from the top of the page to the bottom
        // of the toolbar.
        // We should really control the heights of the toolbar elements rather
        // than leave it dynamic

        height: calc(100vh - 230px);
    }

    // footer {
    //     display: none;
    //     height: 1px;
    // }
}

@media screen and (min-width: 769px) {
    .menu {
        &.nested {
            margin-left: 0;
        }
    }
}

@media print {
    a {
        text-decoration: none;
    }

    h4.tei-rubric {
        color: $secondary-color !important;
    }

    span.tei-pb,
    span.tei-cb {
        color: teal !important;
    }

    span.tei-corr-text {
        color: $dark-orange !important;
    }

    .tei-c.red, .tei-rubric, .tei-hi.red {
        color: scale-color($secondary-color, $lightness: 25%) !important;
    }
    .first-letter-red::first-letter {
        color: scale-color($secondary-color, $lightness: 25%) !important;
    }

    sup {
        &.tei-gen {
            &:after {
                color: scale-color($success-color, $lightness: 30%) !important;
            }
        }

        &.tei-note {
            &:after {
                color: scale-color($secondary-color, $lightness: 30%) !important;
            }
        }

        &.tei-source {
            &:after {
                color: scale-color($primary-color, $lightness: 40%) !important;
            }
        }

        &.tei-trad {
            &:after {
                color: scale-color($tertiary-color, $lightness: 50%) !important;
            }
        }
    }

    .tv-view-semi-diplomatic .tei-unclear {
        &:before {
            color: $tertiary-color !important;
            content: "\f128";
            font-family: "FontAwesome";
        }
    }
}


// Search Page

#tvof-search {
    .search-facets {

        .search-option a:hover {
            text-decoration: underline;
        }
        .search-option a.selected:hover {
            text-decoration: line-through;
        }

        .selected {
          padding: 0.2rem;
          background-color: burlywood;
          // font-weight: bold;
        }

        .card-divider {
          padding: 0.5rem 1rem;
        }

        .facet-info {
          margin-left: auto;
          font-size: 1.3rem;
          margin-top: 0.3rem;
        }

        .card-section {
            max-height: 16.5rem;
            overflow-y: auto;
            padding: .5rem 1rem .5rem .5rem;
        }

    }
    .search-results {

        .token-preceding {
            text-align: right;
        }
    }
    .button:focus, .button:hover {
        color: #c7d0e1;
        background: #3a4b6c;
    }

    .pagination {
      margin-bottom: 0;
    }
}

.undecorated-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.close-icon {
    border:1px solid transparent;
    background-color: transparent;
    display: inline-block;
    vertical-align: middle;
    outline: 0;
    cursor: pointer;
}
.close-icon:after {
    content: "X";
    display: inline-block;
    width: 15px;
    height: 15px;
    position: absolute;
    background-color: rgb(180, 180, 180);
    z-index:1;
    right: 20px;
    top: -3px;
    bottom: 0;
    margin: auto;
    padding: 2px;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-weight: normal;
    font-size: 12px;
    line-height: 1em;
    box-shadow: 0 0 2px rgb(150, 150, 150);
    cursor: pointer;
}
.search-text {
    width: 90%;
    display: inline;
    margin: 0.4rem;

    &:hover, &:focus {
        border-color: hsl(221, 30%, 37%);
    }
}
.search-text,.close-icon,.search-query {
    position: relative;
}
.search-hits {
    td, th {
        vertical-align: text-top;
    }
}

select.page-sizes {
    width: auto;
}
select.search-orders {
    width: auto;
}

.autosuggest__results {
    border: 1px solid lightgrey;
    position: absolute;
    z-index: 1;
    background: white;
    padding: 0.5rem;
    max-height: 10rem;
    overflow-x: hidden;
    overflow-y: auto;
    width: 13rem;
    -webkit-box-shadow: 5px 5px 14px -4px #000000;
    box-shadow: 5px 5px 14px -4px #000000;

    ul {
      list-style: none;
      margin-left: 0;

      .autosuggest__results-item--highlighted {
          background-color: #ddd;
      }

    }
}
input#autosuggest-input {
    margin-bottom: 0;
}

// /data_release

.file-group {
    label {
        display: inline;
        padding: 0.4em;
        border: 2px solid transparent;
    }
    input + label:hover {
      border: 2px solid orange;
    }
    input:checked + label {
        background-color: lightgoldenrodyellow;
    }
}

.messages {
  background-color: #edc;
  padding: 0.5rem;
  list-style: none;

  .error {
    color: red;
    &:before {
      content: '\26A0';
      margin-right: 0.5rem;
      font-size: 1.5rem;
    }
  }

}

.job-info {
  padding: 0.3rem;

  &.job-running, &.job-scheduled {
    background-color: #edc;
  }
  &.job-error {
    background-color: #fbb;
  }
}

.data-release-sections label {
  display: inline;

  border: 2px solid transparent;
  border-right: 2px solid grey;
  padding-right: 0.5rem;
  padding: 0.2rem;

  &:hover {
    border: 2px solid orange;
  }

}

.sub-title {
  font-size: 0.6em;
}
