@import 'settings';
@import '../vendor/foundation-sites/scss/foundation';
@import 'text-viewer';
@import '../vendor/motion-ui/motion-ui';
@import 'typography';

@include foundation-everything;

/****

Geoffroy's temporary styles
Global styles
    Colours and text styles
    External links
    Responsive iframe
    Show more / Show less
Header
Navigation
Main content area
    Images
    Notes
    Quick tips or Disclaimer
    Text viewer - TEI
Footer
Media queries
    Navigation

****/


// Geoffroy's temporary styles

.alt-lang {
    // used in headers.html
    position: absolute;
    right: 0;
    margin: 0.5rem;
    a {
        color: white;
    }
}

/* Global styles */

.badge {
    vertical-align: text-top;
}

// Colours

.red {
    color: scale-color($secondary-color, $lightness: 25%);
}

// External links

a.ext-links {
    &:before {
        content: "\f14c";
        font-family: "FontAwesome";
        font-size: .875em;
        padding-right: 4px;
    }
}

// Responsive iframe

.iframe-container {

    position: relative;
    padding-bottom: 33.33%;
    padding-top: 35px;
    margin: 1rem 0;
    height: 0;
    overflow: hidden;
    border: 3px solid scale-color($secondary-color, $lightness: 50%);

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

// Show more / Show less

.darker {
    background: scale-color($primary-color, $lightness: 30%) !important;
}

/* Header */

.header {
    color: white;
    h1 {
        margin-top: 2rem;
        font-weight: 700;
        text-shadow: 0 0 5px #000;

        a {
            color: $white;
        }
    }
}

/* Navigation */

nav {
    background-color: #1c2434;
    a {
        color: $white;

        // Display the dropdown menu caret
        &:after {
            border-color: $white transparent transparent transparent !important;
        }

        &:focus,
        &:visited {
            color: $white;
        }

        &:hover {
            color: scale-color($primary-color, $lightness: 80%);
            background: scale-color($primary-color, $lightness: 20%);
        }
    }

    .active {
        background: scale-color($primary-color, $lightness: -20%);
    }

    .title-bar {
        background: #1c2434;
    }

    .menu,
    .menu > * {
        z-index: 9;
    }
}

.menu.submenu.is-dropdown-submenu {
    background: $primary-color;
}


/* Main content area */

.main {
    background: scale-color($almost-black, $lightness: 94%);

    h1 {
        border-bottom: 1px solid scale-color($primary-color, $lightness: 50%);
        margin: 1rem 0;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.25rem;
        //color: scale-color($almost-black, $lightness: 15%);
    }

    // Images

    .richtext-image {
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-align: center;

        &.float-right {
            padding-left: 1rem;
            width: 50%;
        }
        &.float-left {
            padding-right: 1rem;
            width: 50%;
        }
        &.float-center {
            padding-left: 1rem;
            padding-right: 1rem;
            width: 50%;
        }
    }

    .richtext-caption {
        font-style: italic;
        font-size: .75rem;
        line-height: 1.125;
    }

    // Splash image - homepage
    .splash-image {
        margin: 1rem 0;

        img {
            width: 100%;
        }
    }

    .side-menu {
        background: #42547a;
        li {
            border-bottom: 1px solid #5871a4;
            a {
                color: white !important;
            }
        }
    }

    .menu {
        a {
            &:hover {
                color: $white;
            }
        }
    }

    .menu > li > a {
        // color: $primary-color;
        &:hover {
            background: #5871a4;
        }
    }

    .is-submenu-item {
        border-bottom: 1px solid $dark-gray;

        a {
            color: $light-gray;
        }
    }

    // Notes

    .notes {
        padding: .5rem 1rem;
        //background: scale-color($secondary-color, $lightness: 70%);
        border-top: 1px solid $secondary-color;
        font-size: .9375rem;
        p {
            line-height: 1.25rem;
        }
    }

    // Quick tips or Disclaimer

    .quick-tips {
        font-size: .875em;
        padding: .5rem 1rem;
        background: scale-color($secondary-color, $lightness: 70%);
        margin-bottom: .5rem;
        h3 {
            font-size: 1.125rem;
        }
    }

    // Bibliography - TEI

    .tei-bibl:target {
        background-color: #ece4b7;
    }

    // Text viewer - TEI

    #manuscripts-content,
    #manuscripts-title, 
    .text-pane {
        h1, h2 {
            padding-top: rem-calc(24);
            padding-left: rem-calc(16);

            small,
            small {
                color: $dark-gray;
            }
        }
    }

    .tei.body {
        margin-bottom: rem-calc(24);
        padding-left: rem-calc(16);
        padding-right: rem-calc(36);

        h4 {
            margin-top: rem-calc(24);
        }
    }

    .tei-cb,
    .tei-pb {
        color: teal;
    }
    .tei-cb.split-word,
    .tei-pb.split-word {
        &:before, &:after {
            content: '-';
        }
    }

    .tei-corr-popup {
        background-color: scale-color(yellow, $lightness: 50%);
        &:after {
            content: "\f24a";
            font-family: "FontAwesome";
        }
    }

    .tei-corr-text {
        color: $dark-orange;
    }

    .tei-critToLower {
        text-transform: lowercase;
    }

    .tei-critToSup {
        font-size: rem-calc(12);
        vertical-align: super;
    }

    .tei-critToUpper {
        text-transform: uppercase;
    }

    .tei-del {
        text-decoration: line-through !important;
    }

    .tei-fw {
        color: green;
    }

    .tei-c.red, .tei-rubric, .tei-hi.red {
        color: scale-color($secondary-color, $lightness: 25%);
    }
    .first-letter-red::first-letter {
        color: scale-color($secondary-color, $lightness: 25%);
    }

    .tei-seg-num {
        font-size: rem-calc(13);
        font-weight: 700;
    }

    sup {
        &.tei-note,
        &.tei-gen,
        &.tei-source,
        &.tei-trad {
            &:after {
                content: "\f075";
                font-family: "FontAwesome";
            }
        }

        &.tei-gen {
            &:after {
                color: scale-color($success-color, $lightness: 30%);
            }
        }

        &.tei-note {
            &:after {
                color: scale-color($secondary-color, $lightness: 30%);
            }
        }

        &.tei-source {
            &:after {
                color: scale-color($primary-color, $lightness: 40%);
            }
        }

        &.tei-trad {
            &:after {
                color: scale-color($tertiary-color, $lightness: 50%);
            }
        }
    }

    // GN: two types of verses: 
    // .cont (flows continuously within a p/div) 
    // .lineated (line break after each verse line)
    // TODO: works but html & css need improvement
    
    .lineated > span {
        display: block;
    }
    .cont span {
        display: inline;
    }

    p.tei.lg.lineated {
        display: block;
    }

    div.tei.lg, p.tei.lg {
        display: inline;
    }
    //-----

    span.add[data-teia-type=annotation] {
        display: none;
    }

    .tei-unclear {
        &:before {
            color: $tertiary-color;
            content: "\f128";
            font-family: "FontAwesome";
        }
    }

    // See TVOF-146
    .paragraph {
        margin-bottom: 1rem;
    }
}

// GN: nothing preventing default Foundation modal to have a close icon
// overlapping the modal text => difficult to read, don't know how to close
// Were increase padding and move the icon closer to the boder 
// See TVOF-146
.reveal {
    padding-right: 1.7rem;
    padding-left: 1.7rem;
}
.close-button {
    right: 0.5rem;
    color: $primary-color;
}

/* Footer */

footer {
    color: white;
    a {
        color: white;
    }
    background: $body-background;
    padding: 1rem 0;

    .logo {
        img {
            max-height: rem-calc(200);
        }
    }

}

/* Media queries */

@media print {
    .social-links {
        display: none;
    }
}

@media screen and (max-width: 575px) {
    nav {
        background-color: #1c2434;
        
        a {
            color: $white;
            &:hover {
                color: scale-color($primary-color, $lightness: 80%);
                background: scale-color($primary-color, $lightness: 20%);
            }

            &:after {
                border-color: transparent transparent transparent $white !important;
            }
        }
    }
}

@media screen and (max-width: 768px) {

    .menu {
        &.mini-header {
            li {
                a {
                    margin-top: rem-calc(12);
                    padding: rem-calc(5 5 10 0);
                }
            }
        }
    }

    #text-viewer {

        // GF - Added this arbitrary height
        // At the moment is calculated from the top of the page to the bottom
        // of the toolbar.
        // We should really control the heights of the toolbar elements rather
        // than leave it dynamic
        
        height: calc(100vh - 230px);
    }

    footer {
        display: none;
        height: 1px;

        // padding: .5rem 0;

        // .logo img,
        // img {
        //     max-height: rem-calc(50);
        // }
    }
}

@media print {
    a {
        text-decoration: none;
    }

    h4.tei-rubric {
        color: $secondary-color !important;
    }

    span.tei-pb,
    span.tei-cb {
        color: teal !important;
    }

    span.tei-corr-text {
        color: $dark-orange !important;
    }

    .tei-c.red, .tei-rubric, .tei-hi.red {
        color: scale-color($secondary-color, $lightness: 25%) !important;
    }
    .first-letter-red::first-letter {
        color: scale-color($secondary-color, $lightness: 25%) !important;
    }

    sup {
        &.tei-gen {
            &:after {
                color: scale-color($success-color, $lightness: 30%) !important;
            }
        }

        &.tei-note {
            &:after {
                color: scale-color($secondary-color, $lightness: 30%) !important;
            }
        }

        &.tei-source {
            &:after {
                color: scale-color($primary-color, $lightness: 40%) !important;
            }
        }

        &.tei-trad {
            &:after {
                color: scale-color($tertiary-color, $lightness: 50%) !important;
            }
        }
    }

    .tei-unclear {
        &:before {
            color: $tertiary-color !important;
            content: "\f128";
            font-family: "FontAwesome";
        }
    }
}