.highlight-me {
    background-color: #ece4b7;
}

.show-me-the-finger {
    cursor: hand;
    cursor: pointer;
}

.underline-me {
    text-decoration: underline;
    text-decoration-color: scale-color($primary-color, $lightness: 50%);
}