/* Text Visualisations Aligment Styles */

.alignment-paras {
    border-spacing: 0px;

    td,
    th {
        border: 0px;
        border-bottom: 1px solid grey;
        border-left: 1px solid grey;
    }

    thead {
        tr {
            background-color: white;
        }
    }
}

.fixed-tr {
    display: none;
    position: absolute;
}

.para-ms-absent {
    background-color: darkgrey;
}

.para-ms-verse {
    background-color: lightblue;
}

/* Settings modal */

.option-selected {
    background: #f0f0e0;
}

#settings {
    /* make the settings body div scrollable */
    flex-direction: column;
    height: 90vh;

    position: fixed;
    left: 5vw;
    top: 2em;
    width: 90vw;
    z-index: 10000;
    
    display: none;

    background-color: white;
    border: 1px solid grey;
    box-shadow: .5em .5em .4em #202020;
    padding: 0;
}

#settings > div {
    padding: .5em;
}

body {

    &.settings-visible {
        /* html body no longer scrollable when settings model is open*/
        overflow: hidden;    

        #settings {
            display: flex;
        } 
    }
}

.settings-body {
    /* make the settings body div scrollable */
    flex-grow: 1;
    overflow-y: auto;

    input[type=checkbox],
    input[type=radio] {
        margin-bottom: 0;
        margin-left: 0.3em;
        margin-right: 0.1em;
    }

    label {
        line-height: 1em;
        margin: 2px;
        padding: 0.3em;

        &:hover {
            background: #e0e0d0;
        }
    }

    label,
    li {
        /* inline-block to prevent line break between checkboxk and label text */
        display: inline-block;
    }

    ul {
        margin-left: 0;
    }

    .var-actions {
        font-size: small;

        a {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.settings-head {
    background-color: #1c2434;
    color: white;
}

/* bars view */

.canvas-bars {
    border: 0;
    height: 80vh;
    width: 96vw;
}

/* Viztest specific */

.viz {
    margin: 0;
    padding: 0;
    widht: 100%;
    /* Variables */

    // Colours
    $primary-color: #1c2434;
    $secondary-color: #4e2626;
    $tertiary-color: #4b4d25;

    $neutral: #c7cb00;

    $grey: #d8d8d8;

    .absent-0 {
        background: $neutral;

        &:hover,
        &.active {
            background: darken($neutral, 20%);
        }
    }

    .absent-1 {
        background: $secondary-color;

        &:hover,
        &.active {
            background: darken($secondary-color, 10%);
        }
    }

    .absent-2 {
        background: $tertiary-color;

        &:hover,
        &.active {
            background: darken($tertiary-color, 10%);
        }
    }

    .absent-3 {
        background: white;

        &:hover,
        &.active {
            background: darken(white, 10%);
        }
    }

    .nopara {
        background: darken($grey, 20%);

        &:hover,
        &.active {
            background: darken($grey, 40%);
        }
    }

    // Combinations

    .variation {
        background: #d86d0f;

        &:hover,
        &.active {
            background: darken(#d86d0f, 20%);
        }

        &.location {
            background: #dd614a;

            &:hover,
            &.active {
                background: darken(#dd614a, 20%);
            }

            &.rubric {
                background: #9c89b8;

                &:hover,
                &.active {
                    background: darken(#9c89b8, 20%);
                }
            }
        }
    }

    // Fonts
    $body-font-family: 'Archivo Narrow', sans-serif;

    .column,
    .column-block {
        line-height: 1.6;
        margin: 0;
    }

    .column {
        border-bottom: 2px solid #f2f2f2;
        border-left: 5px solid #f2f2f2;
        border-right: 5px solid #f2f2f2;

        &.first {
            border-top: 2px solid $grey;
        }

        svg {
            padding-left: 5px;
            padding-right: 5px;
        }
    }

    .connect {
        color: white;
        margin-bottom: 0;

        &:hover {
            cursor: pointer;
        }
    }

    .fixed {
        background: white;
        display: block;
        position: fixed;
        width: 100%;
    }

    .hide {
        display: none;
    }

    .section {
        background: #cff0ff;
        border-bottom: 3px solid $neutral;
        font-size: 18px;
        margin: 0;
        padding-left: 15px;
    }

    .show {
        display: block;
    }

    .thead {
        .column {
            border: 0;
        }
    }

    .title {
        background: $primary-color;
        color: white;
        font-size: 18px;
        margin: 0;
        padding: 10px;
    }

    .top-margin {
        height: 50px;
    }

    .zoom {
        transform: scale(2);
    }

    /* Headings */

    h1, h2, h3, h4, h5, h6 {
        font-weight: normal;
    }
}