{% extends "base.html" %}
{% load staticfiles compress require cms_tags %}

{% block extra_head %}
    {{ block.super }}
    
    {# TODO: temporary, move this to a .scss file #}
    <style>
        #text-pane-template { display: none; }
    </style>
    
{% endblock %}

{% block main %}
    <div id="text-panes">
        <div id="text-pane-center" class="text-pane">
            CENTER
        </div>
        <div id="text-pane-east" class="text-pane">
            EAST
        </div>
        {% verbatim %}
        <div id="text-pane-template">
            PANE TEMPLATE
            {{ pane_slug }}
        </div>
        {% endverbatim %}
    </div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    {# TODO: load this with require.js #}
    <script src="{% static 'vendor/vue/vue.js' %}"></script>
    <script src="{% static 'text_viewer/text_viewer.js' %}"></script>
{% endblock %}
