{% extends "base_minimal.html" %}
{% load staticfiles compress require cms_tags wagtailcore_tags %}

{% block extra_head %}
    <style>
        #image-viewer-modal {
            padding: 0;
        }
        #image-viewer-modal .close-button {
            background-color: white;
            position: absolute;
            z-index: 1000;
        }
        #image-viewer-modal {
            height: 90%;
            width: 90%;
            overflow: hidden;
        }
        #image-viewer {
            width: 100%;
            height: 100%;
            background-color: black;
            /* position: absolute; */ 
        }
    </style>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
        integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
        crossorigin=""/>
{% endblock %}

{% block title %}
Textviewer
{% endblock %}

{% block body_classes %}body-text-viewer{% endblock %}

{% block header_top_bar %}
    <ul class="horizontal menu float-right mini-header">
        {% comment %}
        <li>
            <a href=""><i class="fa fa-key"></i></a>
        </li>
        {% endcomment %}
        {% comment %}
        <li>
            <a href=""><i class="fa fa-random"></i></a>
        </li>
        {% endcomment %}
        <li>
            {# <a href=""><i class="fa fa-columns"></i></a> #}
    
            <a id="btn-open-panel" href="#" title="Open a new panel">
                <i class="fa fa-columns"></i>
            </a>
        </li>
        <li>
            <a href=""><i class="fa fa-expand"></i></a>
        </li>
    </ul>
{% endblock %}

{% block minimal_breadcrumb %}
    <small>/ Text Viewer</small>
{% endblock %}

{% block main_wrapper %}

{% verbatim %}
<!-- #text-viewer height is adjusted automatically with JS  -->
<section id="text-viewer" class="main text-viewer">
    <div id="text-viewer-glass"></div>
    <div v-for="pane in panes" is="text-pane" v-bind:apane="getPane(pane.slug)"></div>
</section>
{% endverbatim %}

{% comment %}

GN: the code below serves as a template for any number of text panes.
Apart from id="vue-template-text-pane", please do not use hardcoded id attribute
(they would be duplicated which is not allowed in HTML).


Some of the Foundation controls or special behaviour/plugins are managed with
a vue directive:
* v-f-dropdown: for a Foundation dropdown-menu
* v-f-sticky: for a sticky element

{% endcomment %}
{% verbatim %}
<div class="vue-templates">
    <div id="vue-template-text-pane" class="text-pane">
        <div class="row">
            <div class="small-12 columns">

                <a v-if="canClosePane()" href="#" v-on:click.stop.prevent="closePane()" class="close-panel-button float-right">
                    <i class="fa fa-trash" aria-label="Close this panel" title="Close this panel">
                    </i>
                </a>

                <div class="controls">
                    <ul v-f-dropdown class="boxed" data-disable-hover="true">
                        <li>
                            <a><h2 class="ms-title">{{ document.label }}</h2></a>
                            <ul>
                                <li v-for="adocument in documents" v-bind:class="{active: adocument.slug == document.slug, 'is-submenu-item': 1, 'is-dropdown-submenu-item': 1}">
                                    <a v-on:click.prevent="onClickDocument(adocument.slug)" href="#">{{ adocument.label }}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul v-f-dropdown class="boxed" data-disable-hover="true">
                        <li class="dropdown-views">
                            <a>{{ view.label }}</a>
                            <ul>
                                <li v-for="aview in views" v-bind:class="{active: aview.slug == view.slug, 'is-submenu-item': 1, 'is-dropdown-submenu-item': 1}">
                                    <a v-on:click.prevent="onClickView(aview.slug)" href="#">
                                        {{ aview.label }}
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row" v-bind:id="'section-menu-'+pane_slug">
            <div class="small-12 columns">
                <!-- No toggle button in Foundation???
                    Tried switch but too wide for side bar 
                -->
                <ul v-f-dropdown>
                    <li v-if="canBeSynced" v-bind:class="{active: is_synced, disabled: !canBeSynced}">
                        <a href="#" v-on:click.prevent="toggleSynced()" class="">
                            <i v-bind:class="'fa fa-chain'+(!is_synced ? '-broken' : '')" 
                                v-bind:title="getSyncTitle"></i>
                        </a>
                    </li>
                    <!-- TODO: implement this menu (slider) -->
                    <template v-if="!is_synced">
                        <li v-for="alocation_type in location_types" 
                            v-bind:class="{active: (alocation_type.slug == location_type.slug), scrollable: 1}">
                            <a v-on:click.prevent="onClickLocationType(alocation_type.slug)" href="#">
                                <i v-bind:class="getFAIcon(alocation_type.slug)"></i>
                                <span class="show-for-large">{{ alocation_type.label }}</span>
                            </a>
                            <template v-if="alocation_type.locations.length > 1">
                                <div class="list-filter">
                                    <input v-on:keyup.stop.prevent="filterLocations(alocation_type)" type="text" name="filter" value="keyword" v-model="location_type_filters[alocation_type.slug]" placeholder="Search...">
                                    <a class="clear-filter fa fa-times-circle" href="#" v-on:click.prevent="clearLocationFilter(alocation_type)"></a>
                                </div>
                                <ul>
                                    <li v-for="alocation in alocation_type.locations" 
                                        v-bind:class="{active: (alocation.slug == location.slug), 'is-submenu-item': 1, 'is-dropdown-submenu-item': 1, 'hidden': alocation.hidden}">
                                        <a v-on:click.prevent="onClickLocation(alocation.slug, alocation_type.slug)" 
                                            href="#" v-html="alocation.label_long">
                                        </a>
                                    </li>
                                </ul>
                            </template>
                        </li>
                    </template>
                </ul>
            </div>
        </div>
        <div class="row pane-content-wrapper">
            <div class="small-12 columns">
                <div class="pane-content">
                    <!-- .pane-sidebar height is adjusted automatically with JS  -->
                    <ul v-f-dropdown class="text-center pane-sidebar vertical" 
                        data-disable-hover="true" data-click-open="true" 
                        data-alignment="right">
                        <!-- TODO: need to fix the view button. By default it should duplicate only -->
                        <!-- <li v-for="aview in views"> -->
                        <li>
                            <a href="#" v-on:click.stop.prevent="onClickViewExternal(view.slug)"
                                aria-label="Open a new panel" title="Open a new panel">
                                <i class="fa fa-columns"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" v-bind:href="getPrintUrl()" aria-label="Print view" title="Print view">
                                <i class="fa fa-print"></i>
                            </a>
                        </li>
                        <li v-bind:class="{toolbar: 1, hidden: display_settings.length == 0}">
                            <a><i class="fa fa-pencil"></i></a>
                            <ul class="text-left">
                                <h3>Display</h3>
                                <li v-for="setting in display_settings" v-bind:class="{active: isDisplaySettingActive(setting), 'is-submenu-item': 1, 'is-dropdown-submenu-item': 1}">
                                    <a href="#" v-on:click.stop.prevent="onClickDisplaySetting(setting)">
                                        {{ setting.label }}
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="key">
                            <a><i class="fa fa-key"></i></a>
                            <ul class="text-left">
                                <li>
                                    <h3>Notations</h3>
                                    <div v-html="conventions">
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <!-- .text-chunk height is adjusted automatically with JS  -->
                    <div class="text-chunk" v-html="chunk" v-bind:class="getClassesFromDisplaySettings()">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}
<div class="reveal" id="image-viewer-modal" data-reveal>
    <div id="image-viewer"></div>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endblock %}

{% block footer_scripts %}
    {{ block.super }}
    {# TODO: load this with require.js or webpack ? #}
    <script src="{% static 'vendor/vue/vue.js' %}"></script>
    <script src="{% static 'text_viewer/text_viewer.js' %}"></script>
{% endblock %}

{% block extra_js %}
    {# TODO: bower those leaflet scripts, externalise the custom code and move script tags to footer_scripts #}
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
        integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
        crossorigin=""></script>
    <script src="https://cdn.rawgit.com/mejackreed/Leaflet-IIIF/v1.2.1/leaflet-iiif.js"></script>
    
    <script type="text/javascript">
        $(function() {
            if (1) {
                window.image_modal = new Foundation.Reveal($('#image-viewer-modal'), {});
            }
            $('body').on('click', '.tei-graphic', function() {
                window.image_modal.open();
                if (!window.image_viewer_map) {
                    window.image_viewer_map = L.map('image-viewer', {
                        center: [0, 0],
                        crs: L.CRS.Simple,
                        zoom: 1,
                    });
                } else {
                    window.image_viewer_map.removeLayer(window.image_viewer_map_layer);
                }
                    
                var image_url = $(this).data('tei-url');

                window.image_viewer_map_layer = L.tileLayer.iiif('//loris.cch.kcl.ac.uk/tvof/webroot/images/jp2/'+image_url+'/info.json', {
                    tileSize: 1024,
                }).addTo(window.image_viewer_map);
            });
        })
    </script>
{% endblock %}
