{% extends "base_minimal.html" %}
{% load staticfiles compress cms_tags wagtailcore_tags %}

{% block meta_title %}{{ title }} | Proof Reader{% endblock %}

{% block extra_head %}
    <style>
    </style>
{% endblock %}

{% block body_classes %}text-print{% endblock %}

{% block header_top_bar %}
{% endblock %}

{% block minimal_breadcrumb %}
    <small>/ <a href="{{ link_text_viewer }}">Text Viewer</a></small>
    <small>/ Proof Reader </small>
{% endblock %}

{% block title %}<h1>{{ title }}</h1>{% endblock %}

{% block main %}
  {% if link_to_full_text %}<p><a href="{{ link_to_full_text }}">Load the full text</a></p>{% endif %}
  {% if res.errors %}
    {% for error in res.errors %}
      <p class="error">{{ error.message }}</p>
    {% endfor %}
  {% else %}
  {{ res.chunk|safe }}

  <div>
    {{ res.generated }}
  </div>
  {% endif %}
{% endblock %}

{% block footer_scripts %}
    {{ block.super }}
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script type="text/javascript">
    </script>
    <script src="{% static 'text_viewer/text_viewer_events.js' %}"></script>
{% endblock %}
