{% load staticfiles %}
<div class="row">
    <div class="small-12 medium-3 columns">
        <div class="logo">
            <a href="//www.kcl.ac.uk/artshums/" title="King's College London">
               <img src="/static/images/KCL-box-white-with-text.svg">
            </a>
        </div>
    </div>
    <div class="small-12 medium-3 columns">
        <a href="//erc.europa.eu" title="European Research Council">
            <img src="/static/images/eu-erc.svg" alt="European Research Council logo">
        </a>
    </div>
    <div class="small-12 medium-6 columns text-right">
        <p class="social-links">
            <a href="//www.facebook.com/thevaluesoffrench/" target="_blank"><button aria-label="icon of Facebook" class="buttonforicons"></button></a> 
            <a href="//twitter.com/ValuesOfFrench" target="_blank"><button aria-label="icon for Twitter" class="buttonforicons"></button></a>
        </p>
        <p>&copy; {% now 'Y' %} <a href="//kdl.kcl.ac.uk/">King's Digital Lab</a></p>
        <p><a href="/privacy-cookie-policy/">Privacy and Cookie Policy</a></p>
    </div>
</div>
