{% load static compress cms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% block meta_title %}{{ self.title }}{% endblock %} | The Values of French</title>
  <meta name="description" content="The Values of French Language and Literature in the European Middle Ages is a five-year research project running from 2015 to 2020 in the Department of French at King’s College London, funded by the European Research Council (ERC) under the European Union’s Horizon 2020 research and innovation programme">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    <link rel="icon" href="{% static 'images/favicons/favicon.png' %}">

  {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/main.scss' %}">
  {% endcompress %}

  {% comment %}
    GN: django-compress doesn't deal well with font imported from scss or css.
    and js version of fontawesome does convert to verbose svg on the fly.
    So we stick to css outside compress as we don't really need to change any parameter.
  {% endcomment %}
  <link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.css' %}">

  {% block extra_head %}
    {# for custom css in child templates #}
  {% endblock %}
</head>

<body class="{% block body_classes %}{% endblock %}" >
  <div role="complementary" class="skip-main" aria-label="option to skip to the main content">
    <a href="#maincontent">Skip to main content</a>
  </div>

  {% block header %}
    <header>
      {% include 'includes/header.html' %}
    </header>
    <div id="maincontent" tabindex="0"></div>

    {% block primary_navigation %}
      <nav>
        {% include 'includes/navigation.html' %}
      </nav>
    {% endblock %}
  {% endblock %}

  {% block main_wrapper %}
  <div class="main">
    <div class="row">
      <div class="large-12 columns">
        {% block title %}{% if self.title %}<h1>{{ self.title }}</h1>{% endif %}{% endblock %}
        {% block main %}
        {% endblock %}
      </div>
    </div>
  </div>
  {% endblock %}

  {% if IS_REF_SITE %}
    <div id="ref-banner" role="banner">
      <input type="checkbox" id="ref">
      <label aria-label="2021 REF clone site" class="ref" for="ref">
        <h2>2021 <span>REF</span></h2>
          <div class="message">
            <p>
              This site is a snapshot edition of <a href="https://tvof.ac.uk">The Values of French</a> taken on 20th January 2021 for the <a href="https://www.ref.ac.uk"> 2021 Research Excellence Framework (REF)</a> submission - implemented by <a href="http://kdl.kcl.ac.uk">King’s Digital Lab</a>.
            </p>
          </div>
     </label>
    </div>
  {% endif %}

  <footer id="footer">
    {% include 'includes/footer.html' %}
    <div class="callout cookies-box hide" id="cookie-disclaimer" data-closable>
      <p>We use cookies to track usage and preferences.</p>
      <p><a href="/privacy-cookie-policy/" class="button secondary">Privacy &amp; Cookie Policy</a> <button class="button success closeme" aria-label="Dismiss alert" type="button" data-close>I understand</button></p>
      <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </footer>

  {% block default_js %}
    <script>
      window.SETTINGS_JS = {% settings_js %};
    </script>

    {% compress js %}
        <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'foundation-sites/dist/js/foundation.min.js' %}"></script>
        <script src="{% static 'js-cookie/src/js.cookie.js' %}"></script>
        <script src="{% static 'js/app.js' %}"></script>
        {% if debug %}
          <script src="{% static 'vue/dist/vue.js' %}"></script>
        {% else %}
          <script src="{% static 'vue/dist/vue.min.js' %}"></script>
        {% endif %}
        <script src="{% static 'vue-autosuggest/dist/vue-autosuggest.js' %}"></script>
        {% if not debug %}
          <script src="{% static 'js/google-analytics.js' %}"></script>
        {% endif %}
    {% endcompress %}
  {% endblock %}

  {% block foundation_init %}
    <script>
      $(document).foundation();
    </script>
  {% endblock %}

  {% block extra_js %}
    {# for custom js in child templates #}
  {% endblock %}
</body>
</html>
