{% extends "base.html" %}

{% block header %}
<nav>
    <div class="row text-viewer-header">
      <div class="small-10 columns">
        <ul class="horizontal menu dropdown mini-header" data-dropdown-menu>
          <li>
              <h1 class="site-title">
                  <a href="/">The Values of French</a> 
                  {% block minimal_breadcrumb %}
                  {% endblock %}
              </h1>
          </li>
        </ul>
      </div>
      <div class="small-2 columns right" data-sticky-container>
        {% block header_top_bar %}
        {% endblock %}
      </div>
    </div>
</nav>
{% endblock %}
