{% extends "base.html" %}
{% load staticfiles compress cms_tags wagtailcore_tags %}

{% block meta_title %}Data release{% endblock %}

{% block extra_head %}
  {% compress css %}
  {% endcompress %}
{% endblock %}

{% block title %}Data release{% endblock %}

{% block main_wrapper %}
  <form action="" method="post" enctype="multipart/form-data">
    <section class="main">
      <div class="row">
        <div class="large-12 columns">
          <h1>Data release <a href="https://github.com/kingsdigitallab/tvof-django/wiki/Data-Release" target="_blank" class="sub-title">Help</a></h1>
        </div>
      </div>

      <div class="row">

        <div class="large-6 columns">
          <h2>Source: this website</h2>

          {% csrf_token %}
          {% if messages %}
            <ul class="messages">
              {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
          {{ form.non_field_errors }}

          {% include "site_groups.html" with groups=source_groups editable=editable job_site_key="source" %}

          {% if editable %}
            <button type="submit" class="button primary">Apply</button>
          {% else %}
            <p><em>Automated text conversion or indexing is scheduled or in progress. Please wait until they complete to upload or copy files.</em></p>
          {% endif %}
        </div>

        <div class="large-6 columns">
          <h2><i class="fa fa-arrow-right" aria-hidden="true"></i> Target: {{ selected_target.name }}</h2>
          {% if selected_target or unselected_targets %}
            {% for site in unselected_targets %}
              <p>(<a href="?target={{site.key}}">change to {{ site.name }}</a>)</p>
            {% endfor %}
            {% include "site_groups.html" with groups=target_groups editable=0  job_site_key=selected_target.key %}

            <div class="data-release-sections">
              <h3>Sections</h3>
              {% for doc in section_docs %}
                <h4>{{ doc }}</h4>
                {% for section in sections %}
                  <label><input name="{{ doc }}-{{ section }}" type="checkbox" {% if section in doc_filters|get_item:doc|get_item:'interpretive' %}checked{%endif%}>{{ section }}</label>
                {% endfor %}
              {% endfor %}
            <div>

          {% else %}
            <p>
              You cannot release data from this website.
              <br>
              To release data, go to the staging site.
              <br><br>
              <em>If you are a developer/sysadmin,
              you may want to define
              DATA_RELEASE_AVAILABLE_TARGETS
              in your local.py</em>
            </p>
          {% endif %}
        </div>

      </div>

      <br>
    </section>
  </endform>
{% endblock %}

{% block extra_js %}
  {{ block.super }}
{% endblock %}
