{% for group in groups %}
  <h3>{{ group.name }}</h3>
  {% if group.key == 'search' and editable %}
    {{ form.index_input_file.errors }}
    {{ form.index_input_file }}
  {% endif %}
  <ul class="file-group">
    {% for file in group.files %}
      <li>
        {% if editable %}<input type="checkbox" id="{{ file.key }}" name="{{ file.key }}">{% endif%}
        <label {% if editable %}for="{{ file.key }}"{% endif %}>
          {{ file.name }} ({{ file.stats }})
        </label>
      </li>
    {% endfor %}
  </ul>
{% endfor %}
