{% extends "base.html" %}
{% load staticfiles compress require %}

{% block extra_head %}
{% endblock %}

{% block meta_title %}Homepage{% endblock %}

{% block title %}{% endblock %}

{% block main %}
  <div class="splash-image">
    <img src="{% static 'images/header.jpg' %}" alt="Noah's Ark">
    
    <span class="richtext-caption">
        <div class="rich-text"><p>Miniature of Noah and the ark, from London, British Library, Add. 15268, f. 7v. Reproduced with the permission of the British Library Board.</p></div>
    </span>
  </div>
  
  <div class="row">
    <div class="small-12 columns">
      {% block streamfield %}
          {% include "cms/includes/home_streamfield.html" with content=self.content_lang %}
      {% endblock %}
    </div>
  </div>
  
  {{ block.super }}
{% endblock %}

{% block extra_footer %}
{% endblock %}
