{% extends "base.html" %}
{% load staticfiles compress require %}

{% block extra_head %}
{% endblock %}

{% block title %}{% endblock %}

{% block main %}
<div class="splash-image">
	<img src="{% static 'images/header.jpg' %}" alt="Noah's Ark">
</div>

<div class="row">
        <div class="large-12 columns">
                {% block streamfield %}
                {% include "cms/includes/home_streamfield.html" with content=self.content %}
                {% endblock %}
        </div>
</div>






{{ block.super }}
{% endblock %}

{% block extra_footer %}
{% endblock %}
