{% extends "base.html" %}

{% block main %}
<div class="row">
	{% if page.get_descendants %}
	<div class="large-3 columns">
		{% block index_page_children %}
		{% include "cms/includes/index_page_children.html" with title="In this section" %}
		{% endblock %}
	</div>
	{% endif %}
	<div class="large-{% if page.get_descendants %}9{% else %}12{% endif %} columns">
		{% block streamfield %}
              {% include "cms/includes/streamfield.html" with content=self.content_lang %}
		{% endblock %}
	</div>
</div>

{% block attachments %}
    {% include "cms/includes/attachments.html" with attachments=self.attachments.all title="Attachments" %}
{% endblock %}

{% block related_links %}
    {% include "cms/includes/related_links.html" with related_links=self.related_links.all title="Related links" %}
{% endblock %}

{% endblock %}
