{% extends "base.html" %}
{% load wagtailcore_tags cms_tags %}

{% block main %}
  <div class="row">
      {% with page|get_section_page as section_page %}
        {% if section_page %}
          <div class="small-12 large-3 columns">
              {% block index_page_children %}
                  {% include "cms/includes/index_page_children.html" with title="In this section" section=section_page %}
              {% endblock %}
          </div>
        {% endif %}
        <div class="small-12 large-{% if section_page %}9{% else %}12{% endif %} columns">
            {% block streamfield %}
                  {% include "cms/includes/streamfield.html" with content=self.content_lang %}
            {% endblock %}
        </div>
      {% endwith %}
  </div>

  {% block related_links %}
      {% include "cms/includes/related_links.html" with related_links=self.related_links.all title="Related links" %}
  {% endblock %}
  
  {% block attachments %}
      {% include "cms/includes/attachments.html" with attachments=self.attachments.all title="Attachments" %}
  {% endblock %}

{% endblock %}
