{% load staticfiles compress require cms_tags wagtailcore_tags %}

<div id="alignemnt-view-bars">
    <div id="vis-info-box">
        
    </div>

    <canvas class="canvas-bars" height="1000" width="1000">
    </canvas>
    
    <script>
    $(function() {
        var alignment_data = {{ alignment_data|json }};
        var config = {{ params|json }};
        var canvas = $('canvas')[0];
        
        update_bars_2_view(canvas, alignment_data, config);
        
        // Bars view / visualisation
        function update_bars_2_view(canvas, align, config) {
            // extract info from config
            var ms_names = [];
            $.each(config.mss.options, function(idx, ms) {
                if (ms.selected) ms_names.push(ms.name);
            });
            var config_fields = {};
            $.each(config.fields.selected, function(idx, field_key) {
                config_fields[field_key] = 1;
            });            
            var idx_from_ms_name = {};

            // reset widths
            $('body').width('');
            $(canvas).width('96vw');
            //
            var ctx = canvas.getContext('2d');
            
            // adapt canvas height to fit all on remaining space
            var bh_min = 15;
            var rows = ms_names.length;
            
            var canvas_top = $(canvas).offset().top;
            var canvas_left = $(canvas).offset().left;
            var head_height = 20;
            var bh = ($(window).height() - canvas_top - head_height) / rows;
            if (bh < bh_min) {
                bh = bh_min;
            }
            bh = Math.floor(bh);

            $(canvas).height(bh * rows + head_height);
            
            // adapt bar widths
            var labels_max_width = 100;
            var bw = 2;

            var cah = $(canvas).height();
            var caw = $(canvas).width();
            
            //     chose a bar width that tries to fit into screen width
            //     then round down to avoid aliasing
            bw = (caw - labels_max_width) / align.paras.length;
            var is_compressed = (bw < 1);
            bw = Math.floor(bw);
            if (is_compressed) {
                bw = 1;
                // we stretch the canvas horizontally beyond the screen
                // need to scroll
                caw = labels_max_width + align.paras.length;
                // adapt width
                $(canvas).width(caw);
                $('body').width(caw + 2);
            }
            
            // force internal canvas dims to match external ones
            canvas.height = cah;
            canvas.width = caw;
            
            // other settings
            var labels_padding = 2;
            var font_size = 12;
            var font = '' + font_size + 'px Arial';
            var colors = {
                'text': 'black',
                'separator': 'black',
                'even': '#f4f4f4',
                'odd': '#e8e8e8',
                'absent.2': '#202020', // location = "" - NO LONGER USED 
                'absent.3': '#804040', // no location element in the para
                'absent.1': '#707070', // location = "absent"
                'nodata': '#808080',  // no para element for that MS - frequent 
                'verse': 'lightblue',
                'rubric.undefined': '#ff8080',
                'rubric.add': '#ff6060',
                'rubric.move': '#ff4040',
            }
            var band_height = (bh / 3);
            if (band_height < 1) {
                band_height = 1;
            }
            band_height = Math.floor(band_height);
            
            // DRAWING
            
            // write MS labels
            $.each(ms_names, function(idx, name) {
                ctx.font = font;
                ctx.fillStyle = colors.text;
                ctx.fillText(name, labels_padding, head_height + (idx + 1) * bh - labels_padding);
                idx_from_ms_name[name] = idx;
            });
            
            // draw the paras
            ctx.fillStyle = colors.nodata;
            ctx.fillRect(labels_max_width, head_height, caw, caw);

            var section = null; 
            var last_section_x = -10000;
            var is_odd = false;
            $.each(align.paras, function(idx, para) {
                is_odd = !is_odd;
                $.each(para.mss, function(ms_name, para_ms) {
                    // draw a bar
                    // if (para_ms.absent) return;
                    var ms_top = head_height + (idx_from_ms_name[ms_name] * bh);

                    var color = colors.even;

                    if (is_odd) {
                        color = colors.odd;
                    }
                    if (para_ms.verse && config_fields.verse) {
                        color = colors.verse;
                    }
                    
                    if (para_ms.absent) {
                        color = colors['absent.'+para_ms.absent];
                    }
                    
                    if (color) {
                        ctx.fillStyle = color;
                        ctx.fillRect(labels_max_width + idx * bw, ms_top, bw, bh);
                    } else {
                        ctx.clearRect(labels_max_width + idx * bw, ms_top, bw, bh);
                    }
                    
                    // rubric
                    if (config_fields.rubric && para_ms.rubric && para_ms.rubric.length > 0) {
                        subband_height = band_height * 1.0 / para_ms.rubric.length;
                        for (var j = 0; j < para_ms.rubric.length; j++) {
                            var rubric = para_ms.rubric[j];
                            ctx.fillStyle = colors['rubric.' + rubric.diff];
                            ctx.fillRect(labels_max_width + idx * bw, ms_top + (j * subband_height), bw, subband_height);
                        }
                    }
                });
                if (section != para.section) {
                    section = para.section;
                    var x0 = labels_max_width + idx * bw;

                    // draw section label background (to erase overrunning label)
                    ctx.clearRect(x0, 0, caw, head_height);
                    
                    // draw section separator
                    ctx.fillStyle = colors.separator;
                    ctx.fillRect(x0, 0, 1, cah);
                    
                    // draw the section label
                    if ((x0 - last_section_x) < font_size) {
                        x0 += font_size;
                    }

                    ctx.fillStyle = colors.text;
                    ctx.fillText(section, x0 + labels_padding, head_height - labels_padding);
                    last_section_x = x0;
                }
            });
            // sep after last section on the right
            //ctx.fillStyle = colors.separator;
            //ctx.fillRect(labels_max_width + align.paras.length * bw + 1, 0, 1, cah)

            // draw MS separators
            $.each(ms_names, function(idx, ms) {
                ctx.fillStyle = colors.separator;
                ctx.fillRect(0, head_height + (idx + 1) * bh, caw, 1);
            });
            ctx.fillRect(0, head_height, caw, 1);
            
            // clear the right hand side after bar area
            ctx.clearRect(labels_max_width + align.paras.length * bw + 1, 0, caw, cah)
            
            // draw some info
            ctx.font = font;
            var width_avail = (caw - labels_max_width);
            ctx.fillStyle = is_compressed ? 'red' : 'green';
            var info = 'Res:' + (caw - labels_max_width) + ' x ' + cah;
            info += ' | Paras: ' + align.paras.length;
            ctx.fillText(info, labels_padding, cah - font_size);
            
            // reset hover event
            $(canvas).off('mousemove');
            $(canvas).on('mousemove', update_info_box);
            $('#vis-info-box').off('mouseenter mousemove');
            $('#vis-info-box').on('mouseenter mousemove', update_info_box);
            function update_info_box(ev) {
                // convert mouse position into indices [para_idx, ms_idx]
                var mouse_pos = [ev.pageX, ev.pageY];
                $('#vis-info-box').css({
                    left: mouse_pos[0] + 5 - $(document).scrollLeft(),
                    top: mouse_pos[1] + 5 - $(document).scrollTop()
                });
                var data_pos = [
                    Math.floor((mouse_pos[0] - canvas_left - labels_max_width) / bw),
                    Math.floor((mouse_pos[1] - canvas_top - head_height) / bh), 
                ];
                
                // get the alignment data at that position
                var info = '';
                if (data_pos[0] > -1 && data_pos[0] < align.paras.length) {
                    var para = align.paras[data_pos[0]];
                    info += para.id;
                    if (data_pos[1] > -1 && data_pos[1] < ms_names.length) {
                        var ms_name = ms_names[data_pos[1]];
                        info += '<br/>';
                        info += ' ' + ms_name;
                        para_ms = para.mss[ms_name];
                        info += '<br/>';
                        if (para_ms) {
                            info += '<b>Location</b>: ' + (para_ms.location === null ? 'Unspecified' : para_ms.location);
                            if (config_fields.verse && para_ms.verse) {
                                info += '<br/>';
                                info += '<b>Verse</b>: ' + para_ms.verse;
                            }
                            if (config_fields.rubric && para_ms.rubric) {
                                $.each(para_ms.rubric, function(i, rubric) {
                                    info += '<br/>';
                                    info += '<b>'+(rubric.diff_label || 'Rubric');
                                    info += '</b>: ';
                                    if (rubric.dest_label) {
                                        info += '<i>' + rubric.dest_label + '</i><br/>'
                                    }
                                    info += rubric.t;
                                });
                            }
                            if (config_fields.variation && para_ms.vars) {
                                $.each(para_ms.vars, function(note_idx, avar) {
                                    if (avar.t) { 
                                        info += '<br/>';
                                        info += '<b>Variation</b>: ' + avar.t;
                                    }
                                });
                            }
                            if (config_fields.note && para_ms.note) {
                                $.each(para_ms.note, function(note_idx, note) {
                                    info += '<br/>';
                                    info += '<b>Note</b>: ' + note.t;
                                });
                            }
                        } else {
                            info += '[No para]';
                        }
                    }
                    //info += '' + data_pos[0] + ' x ' + data_pos[1];
                    //align.paras[]
                }
                // show the info box
                if (info) {
                    $('#vis-info-box').html(info);
                }
                $('#vis-info-box').toggle(!!info);
            };
        }
    });
    </script>
</div>
