{% load staticfiles compress require cms_tags wagtailcore_tags %}

{# TODO: move this to external file (main.js?) #}
<script>
$(function() {
    // Expand / Collapse
    $('.expand').on("click", function () {
        $(this).children().next('ul').slideToggle(400).toggleClass("hide show");
        $(this).toggleClass("active");
        // GN: removed 'return false' as it prevents links inside the element
        // to open their href on click.
        // See AC-265.
        // return false;
    });
});
</script>

<div class="viz viz-column">
    <div class="row thead expanded small-up-4 medium-up-6">
        <div class="column column-block">
            &nbsp;
        </div>
        {% for ms in params.mss.options %}
        {% if ms.selected %}
        <div class="column column-block">
            <h2 class="title">{{ ms.name }}</h2>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="top-margin"></div>
    {% for para in alignment_data.paras %}
    {% ifchanged para.section %}
    <div class="row expanded">
        <div class="large-12">
            <p class="section"><strong>{{ para.section }}</strong></p>
        </div>
    </div>
    {% endifchanged %}
    <div class="row expanded small-up-4 medium-up-6">
        <div class="column column-block first">
            {{ para.id }}
        </div>
        {% for ms in params.mss.options %}
        {% if ms.selected %}
        {% with para_ms=para.mss|get_item:ms.name %}
        <div class="column column-block connect
        {% if para_ms.verse %} para-ms-verse {% endif %}
        {% if fields_locus and para_ms.location or fields_rubric and para_ms.rubric or fields_verse and para_ms.verse or fields_note and para_ms.note %} expand{% endif%}
        {% if para_ms %} absent-{{ para_ms.absent|default:'0' }}{% else %} nopara{% endif %}
        {% if para_ms.location %} location{% endif %}
        {% if para_ms.rubric %} rubric{% endif %}
        {% if para_ms.variation %} variation{% endif %}
        "
        data-plink="{{forloop.counter0}}/{{para_ms.corresp|default:para.id|short_para_id}}"
        >
        {% if fields_locus and para_ms.location or fields_rubric and para_ms.rubric or fields_verse and para_ms.verse %}
        {% if fields_locus and para_ms.location %}<i class="fa fa-map-marker"></i>{% endif %}
        {% if fields_rubric %}
            {% for rubric in para_ms.rubric %}
                <i class="fa fa-align-center {% if rubric.diff %}rubric-diff rubric-diff-{{rubric.diff}}{%endif%}"></i>
            {% endfor %}
        {% endif %}
        {% if fields_variation and para_ms.variation %} <i class="fa fa-edit"></i>{% endif %}
        {% if fields_verse and para_ms.verse %} <i class="fa fa-pencil"></i>{% endif %}

        {% if fields_note and para_ms.note %}
        {% for note in para_ms.note %}
        {% if ALIGNMENT_SHOW_INTERNAL_NOTES or note.feat %}
        <i class="fa fa-file"></i>
        {% endif %}
        {% endfor %}
        {% endif %}

        {% else %}
        <p class="connect">&nbsp;</p>
        {% endif %}

        <ul class="hide">
            {% if fields_locus and para_ms.location %}
            <li><strong><i class="fa fa-map-marker"></i> Location:</strong> {{ para_ms.location }}</li>
            {% endif %}
            
            {% if fields_rubric and para_ms.rubric %}
            {% for rubric in para_ms.rubric %}
            <li>
                <strong>
                    <i class="fa fa-align-center {% if rubric.diff %}rubric-diff rubric-diff-{{rubric.diff}}{%endif%}"></i>
                    {{ rubric.diff_label|default:'Rubric' }}:
                </strong>
            {% if rubric.dest_label %}<span class="rubric-dest">{{ rubric.dest_label }}</span>{% endif %}
            {{ rubric.t }}
            </li>
            {% endfor %}
            {% endif %}
            
            {% if fields_variation and para_ms.vars %}
            {% for var in para_ms.vars %}
            <li><strong><i class="fa fa-edit"></i> Variation:</strong> {{ var.t }}</li>
            {% endfor %}
            {% endif %}
            
            {% if fields_verse and para_ms.verse %}
            <li><strong><i class="fa fa-pencil"></i> Verse:</strong> {{ para_ms.verse }}</li>
            {% endif %}
            
            {% if fields_note and para_ms.note %}
            {% for note in para_ms.note %}
            {% if ALIGNMENT_SHOW_INTERNAL_NOTES or note.feat %}
            <li>
                <strong><i class="fa fa-file"></i>
                Note ({% if note.feat %}{{ ALIGNMENT_FEATURE_LABELS|get_item:note.feat }}{% else %}internal{% endif %}):
                </strong>
                {{ note.t }}
            </li>
            {% endif %}
            {% endfor %}
            {% endif %}
        </ul>
    </div>
    {% endwith %}
    {% endif %}
    {% endfor %}
</div>
{% endfor %}
</div>