{% load staticfiles compress require cms_tags wagtailcore_tags %}

{# TODO: move this to external file (main.js?) #}
<script>
$(document).ready(function() {
    // Expand / Collapse
    $('.expand').on("click", function () {
        $(this).children().next('p').slideToggle(400).toggleClass("hide show");
        $(this).toggleClass("active");
        return false;
    });
});
</script>

<div class="viz">
    <div class="row thead expanded small-up-4 medium-up-6">
        <div class="column column-block">
            &nbsp;
        </div>
        {% for ms in params.mss.options %}
        {% if ms.selected %}
        <div class="column column-block">
            <h2 class="title">{{ ms.name }}</h2>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% for para in alignment_data.paras %}
    {% ifchanged para.section %}
    <div class="row expanded">
        <div class="large-12">
            <p class="section"><strong>{{ para.section }}</strong></p>
        </div>
    </div>
    {% endifchanged %}
    <div class="row expanded small-up-4 medium-up-6">
        <div class="column column-block first">
            {{ para.id }}
        </div>
        {% for ms in params.mss.options %}
        {% if ms.selected %}
        {% with para_ms=para.mss|get_item:ms.name %}
        <div class="column column-block connect{% if fields_locus and para_ms.location or fields_rubric and para_ms.rubric or fields_verse and para_ms.verse %} expand{% endif%}{% if para_ms %} absent-{{ para_ms.absent|default:'0' }}{% else %} nopara{% endif %}">
            {% if fields_locus and para_ms.location or fields_rubric and para_ms.rubric or fields_verse and para_ms.verse %}
            <i class="fa fa-info-circle"></i>
            {% else %}
            <p class="connect">&nbsp;</p>
            {% endif %}
            {% if fields_rubric and para_ms.rubric %} <i class="fa fa-file"></i>{% endif %}
            {% if fields_verse and para_ms.verse %} <i class="fa fa-pencil"></i>{% endif %}
            <p class="hide">
                {% if fields_locus and para_ms.location %}{{ para_ms.location }}{% endif %}
                {% if fields_rubric and para_ms.rubric %}{{ para_ms.rubric }}{% endif %}
                {% if fields_verse and para_ms.verse %}
                    <br/>
                    Verse: {{ para_ms.verse }}
                {% endif %}
            </p>
        </div>
        {% endwith %}
        {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
</div>