{% load staticfiles compress cms_tags %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% block meta_title %}{{ self.title }}{% endblock %} | The Values of French</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/main.scss' %}">
  {% endcompress %}

  {% comment %}
    GN: django-compress doesn't deal well with font imported from scss or css.
    and js version of fontawesome does convert to verbose svg on the fly.
    So we stick to css outside compress as we don't really need to change any parameter.
  {% endcomment %}
  <link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.css' %}">

  {% block extra_head %}
  {% endblock %}
</head>

<body class="{% block body_classes %}{% endblock %}" >
  {% block header %}
  <header>
    {% include 'includes/header.html' %}
  </header>

  <nav>
    {% include 'includes/navigation.html' %}
  </nav>
  {% endblock %}

  {% block main_wrapper %}
  <section class="main">
    <div class="row">
      <div class="large-12 columns">
        {% block title %}{% if self.title %}<h1>{{ self.title }}</h1>{% endif %}{% endblock %}
        {% block main %}
        {% endblock %}
      </div>
    </div>
  </section>
  {% endblock %}

  <footer id="footer">
    {% include 'includes/footer.html' %}
    <div class="callout cookies-box hide" id="cookie-disclaimer" data-closable>
      <p>We use cookies to track usage and preferences.</p>
      <p><a href="/privacy-cookie-policy/" class="button secondary">Privacy &amp; Cookie Policy</a> <button class="button success closeme" aria-label="Dismiss alert" type="button" data-close>I understand</button></p>
      <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </footer>

  <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'foundation-sites/dist/js/foundation.min.js' %}"></script>

  {% compress js %}
  <script src="{% static 'js-cookie/src/js.cookie.js' %}"></script>
  <script src="{% static 'js/app.js' %}"></script>
  {% block footer_scripts %}{% endblock %}
  {% endcompress %}

  {% if not debug %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-74376352-1', 'auto');
        ga('send', 'pageview');
      </script>
  {% endif %}

  <script>
    $(document).foundation();
  </script>

  {% block extra_js %}
  {% endblock %}
</body>
</html>
