{% load static wagtailcore_tags wagtailimages_tags %}

{% include "cms/includes/pagination.html" with page=page_of_posts %}

<ul class="{{ class }} no-bullet">
    {% for apost in page_of_posts %}
    {% with apost.specific as post %}
    {% with post.thumbnail as thumb %}
    <li class="item">
        <div class="row">
            {% if thumb %}
            <div class="medium-3 large-2 columns">
                <div class="thumbnail">
                    <a href="{{ post.url }}">
                        {% image thumb fill-190x110 %}
                    </a>
                </div>
            </div>
            {% endif %}

            <div class="{% if thumb %}medium-9 large-10{% else %} small-12{% endif %} columns">
                {% block blog_post_title %}
                <h2 class="posttitle">
                    <a href="{{ post.url }}">{{ post.title }}</a>
                </h2>

                <p class="bydate">by {{ post.owner.first_name }} {{ post.owner.last_name }}, {{ post.first_published_at|date:"j M Y" }}</p>

                <section class="postcontent">
                    {% for child in post.blogpost.content %} 
                    {% if child.block_type == 'paragraph' %}
                    {% if forloop.first %}
                    <p>
                        {{ child.value|striptags|truncatewords:15 }}
                        <a href="{{ post.url }}"><strong>Read more <span class="sr-only">about {{ post.title }}</span> &raquo;</strong></a>
                    </p>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </section>
                {% endblock %}
            </div>
        </div>
    </li>
    {% endwith %}
    {% endwith %}
    
    {% empty %}
        <li>Sorry, nothing to show here.</li>
    {% endfor %}
</ul>

{% include "cms/includes/pagination.html" with page=page_of_posts %}