{% load wagtailcore_tags wagtailimages_tags %}

{% if page.get_descendants %}

<div class="stream-field">
    {% for child in content %}

    {% if child.block_type == 'image_and_text' %}
    
    {% if child.value.alignment == 'left' %}
    <div class="row">
        <div class="small-12 large-6 columns">
            {% image child.value.image width-500 %}
            <div class="richtext-caption">{{ child.value.caption }}</div>
        </div>
        <div class="small-12 large-6 columns rich-text">
            {{ child.value.text }}
        </div>
    </div>
    {% elif child.value.alignment == 'right' %}
    <div class="row">
        <div class="small-12 large-6 columns rich-text">
            {{ child.value.text }}
        </div>
        <div class="richtext-image small-12 large-6 columns">
            {% image child.value.image width-500 %}
            <div class="richtext-caption">{{ child.value.caption }}</div>
        </div>
    </div>
    {% endif %}

    {% elif child.block_type == 'image_and_caption' %}
    <div class="row">
        <div class="small-12 columns">
            {% image child.value.images original %}
            <div class="richtext-caption">{{ child.value.caption }}</div>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="small-12 columns rich-text">
            {{ child }}
        </div>
    </div>
    {% endif %}

    {% endfor %}
</div>

{% else %}
<div class="stream-field">
    {% for child in content %}

    {% if child.block_type == 'image_and_text' %}

    {% if child.value.alignment == 'left' %}
    <div class="row">
        <div class="richtext-image small-12 large-4 columns">
            {% image child.value.image width-500 %}
            <div class="richtext-caption">{{ child.value.caption }}</div>
        </div>
        <div class="small-12 large-8 columns rich-text">
            {{ child.value.text }}
        </div>
    </div>
    {% elif child.value.alignment == 'right' %}
    <div class="row">
        <div class="small-12 large-8 columns rich-text">
            {{ child.value.text }}
        </div>
        <div class="richtext-image small-12 large-4 columns">
            {% image child.value.image width-500 %}
            <div class="richtext-caption">{{ child.value.caption }}</div>
        </div>
    </div>
    {% endif %}

    {% elif child.block_type == 'image_and_caption' %}
    <div class="row">
        <div class="richtext-image small-12 columns">
            {% image child.value.images original %}
            <div class="richtext-caption">{{ child.value.caption }}</div>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="rich-text small-12 columns">
            {{ child }}
        </div>
    </div>
    {% endif %}

    {% endfor %}
</div>
{% endif %}
