{% extends "cms/rich_text_page.html" %}
{% load staticfiles wagtailcore_tags cms_tags %}

{% block meta_title %}Search{% endblock %}

{% block title %}<h1>Search</h1>{% endblock %}

{% block main %}

  {% verbatim %}
    <div id="tvof-search">

        <div class="search-query hide-for-large">
          <input class="search-text" type="search" v-model="query.text" v-on:change="on_change_search_text" placeholder="e.g. dire or dirai">
          <a href="#" class="close-icon" v-on:click.prevent="on_reset_search_text"></a>
        </div>
        <div class="row">
          <div class="search-results columns small-12 large-9 large-order-2">

            <ul class="pagination">
              <li>{{ response.objects.count }} instances</li>
              <li :class="{'pagination-previous': 1, 'disabled': !response.objects.previous}">
                <a href="#" v-on:click.prevent="on_click_prev" aria-label="Previous page" v-if="response.objects.previous">Previous</a>
                <template v-else>Previous</template>
              </li>
              <li>
                Page {{ query.page }} / {{ last_page_index }}
              </li>
              <li :class="{'pagination-next': 1, 'disabled': !response.objects.next}">
                <a href="#" v-on:click.prevent="on_click_next" aria-label="Next page" v-if="response.objects.next">Next</a>
                <template v-else>Next</template>
              </li>
              <li>
                <select class="page-sizes" v-model="query.page_size" v-on:change="on_change_page_size">
                  <option v-for="size in page_sizes" :value="size">{{ size }}</option>
                </select>
                per page
              </li>

            </ul>

            <ul class="search-params undecorated-list">
              <li>Sort by:
                <select class="search-orders" v-model="query.order" v-on:change="on_change_order">
                  <option v-for="(order, okey) in orders" :value="okey">{{ order.label }}</option>
                </select>
              </li>
            </ul>

            <table class="search-hits">
              <template v-if="query.result_type == 'tokens'">
                <thead>
                  <tr>
                    <th>Location</th>
                    <th class="token-preceding">Preceding</th>
                    <th>Form<br>(Lemma)</th>
                    <th>Following</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="hit in response.objects.results">
                    <td>
                      <a href="#" v-on:click.prevent="on_click_token(hit)">
                        {{ hit|nice_location }}
                      </a>
                    </td>
                    <td class="token-preceding">
                      <a href="#" v-on:click.prevent="on_click_token(hit)">
                        {{ hit.preceding }}
                      </a>
                    </td>
                    <td>
                      <a href="#" v-on:click.prevent="on_click_token(hit)">
                        {{ hit.token }}
                      </a><br>
                      ({{ hit.lemma }})
                    </td>
                    <td>
                      <a href="#" v-on:click.prevent="on_click_token(hit)">
                        {{ hit.following }}
                      </a>
                    </td>
                  </tr>
                </tbody>
              </template>
              <template v-if="query.result_type == 'names' || query.result_type == 'lemmata'">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th v-if="query.result_type == 'names'">Type</th>
                    <th v-else>Part of Speech</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="hit in response.objects.results">
                    <td>
                      <a href="#" @click.prevent="on_click_lemma(hit)">{{ hit.lemma }}</a>
                    </td>
                    <td v-if="query.result_type == 'names'">{{ hit.name_type }}</td>
                    <td v-else>{{ hit.pos }}</td>
                  </tr>
                </tbody>
              </template>
            </table>
          </div>

          <div class="search-facets columns small-12 large-3 large-order-1">

            <!-- Result types -->
            <template v-for="ui_facet in ui_facets_top">
              <div class="card" v-if="!ui_facet.is_hidden">
                <div class="card-divider">
                  <h4>{{ ui_facet.label }}</h4>
                  <a v-if="ui_facet.tooltip"
                    data-tooltip-vue
                    data-click-open="false" class="facet-info fa fa-info-circle has-tip right"
                    :href="ui_facet.href" :title="ui_facet.tooltip">
                  </a>
                </div>
                <div class="card-section">
                  <ul class="search-facet undecorated-list">
                    <li class="search-option" v-for="option in get_facet_options(ui_facet)">
                      <a href="#" v-on:click.prevent="on_change_result_type(option.key)"
                        :class="{'selected': query.result_type == option.key}"
                        v-if="option.count > 0">
                        {{ get_option_label_from_text(option.text, ui_facet.key) }} <!--({{ option.count }}) -->
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </template>

            <!-- Search phrase -->
            <div class="card show-for-large">
              <div class="card-divider">
                <h4>{{ config.phrase_title }}</h4>
              </div>
              <div class="card-section">
                <vue-autosuggest
                    :suggestions="autosuggestions"
                    :input-props="{id:'autosuggest-input', placeholder:'dire or dirai'}"
                    :get-suggestion-value="get_suggestion_value"
                    @input="fetch_suggestions"
                    v-model="query.text"
                    @selected="on_selected_suggestion"
                    @blur="on_blur_suggestions"
                    @focus="suggestion_closed = false"
                    :should-render-suggestions="(size, loading) => size >= 0 && !loading && !suggestion_closed"
                >
                  <template slot-scope="{suggestion}">
                    <span class="suggestion">
                      <template v-if="suggestion.item.form">
                        {{suggestion.item.form}} ({{suggestion.item.lemma}})
                      </template>
                      <template v-else>
                        {{suggestion.item.lemma}} [LEMMA]
                      </template>
                    </span>
                  </template>
                </vue-autosuggest>
              </div>
            </div>

            <!-- Other facets -->
            <template v-for="ui_facet in ui_facets">
              <div class="card facet-normal" v-if="has_facet_options(ui_facet)">
                <div class="card-divider">
                  <h4>{{ ui_facet.label }}</h4>
                  <a v-if="ui_facet.tooltip"
                    data-tooltip-vue
                    data-click-open="false" class="facet-info fa fa-info-circle has-tip right"
                    :href="ui_facet.href" :title="ui_facet.tooltip">
                  </a>
                </div>
                <div class="card-section">
                  <ul class="search-facet undecorated-list">
                    <li class="search-option" v-for="option in get_facet_options(ui_facet)">
                      <a href="#" v-on:click.prevent="on_click_option(ui_facet.key, option)"
                        :class="{'selected': is_option_selected(ui_facet.key, option)}"
                        v-if="option.count > 0">
                        {{ get_option_label_from_text(option.text, ui_facet.key) }} ({{ option.count }})
                        <template v-if="is_option_selected(ui_facet.key, option)">X</template>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </template>
          </div>
        </div>
    </div>
  {% endverbatim %}

{% endblock %}

{% block extra_js %}
  {{ block.super }}
  <script>
    var SEARCH_FACETS = {{search_facets|json}};
  </script>
  <script src="{% static 'vue/dist/vue.js' %}"></script>
  <script src="{% static 'vue-autosuggest/dist/vue-autosuggest.js' %}"></script>
  <script src="{% static 'text_search/text_search.js' %}"></script>
{% endblock %}
